.products-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.product-item {
  margin: 8px;
}
.product-item-block {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.product-img {
  margin-bottom: auto;
  margin-top: auto;
  max-height: 300px;
  object-fit: contain;
  width: 100%;
}
.product-title {
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
