.categories{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 46px;
    }
    
    .categoty-btn{
        background-color: #efeff0;
        cursor: pointer;
        font-weight: 700;
        margin: 2px;
        padding: 12px;
        border: none;
        border-radius: 2px;
    }
    
    .categoty-btn:hover{
        cursor: pointer;
        background:#bdbdc1;
    }