.App {
  text-align: center;
  max-width: 1200px;
  min-height: 100vh;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1200px;
  min-height: 100vh;
  gap: 20px;
  margin-left: 30px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.productDescription a{
display: flex;
width: 1200px;
}

.productDescription img{
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.description{
text-overflow: ellipsis;
width: 250px;  
}

.filterCategory{
  width: 1800px;
  display: flex;
  flex-direction: row;
  gap:20px;
}

.filterCategory p{
  height: 28px;
  width:auto;
  background: grey;
}
.filterCategory p:hover{
  background: rgb(202, 189, 189);
  cursor: pointer;
}

.category{
  border: none;
  height: 28px;
}

.category:hover{
  color:gray;
  cursor: pointer;
}

.title{
  width: 1200px;
  text-align: left;
  display: flex;
  justify-content: space-around;
}

.title a{
  margin-top: 50px;
  gap:100px;
}