.Counter-btn {
    font-family: inherit;
    font-size: calc(10px + 1vmin);
    border: 3px solid #3a4b4c;
    border-radius: 10px;
    margin : 20px;
    padding: 5px;
    width : 150px;
    background-color: #e4b3cc;
    color: #120238;
}

.Counter {
    font-size: calc(10px + 4vmin);
    color: #1958ce;
}